@font-face {
    font-family: 'League Spartan';
    src: url('fonts/leaguespartan-bold.eot');
    src: url('fonts/leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/leaguespartan-bold.woff2') format('woff2'),
         url('fonts/leaguespartan-bold.woff') format('woff'),
         url('fonts/leaguespartan-bold.ttf') format('truetype'),
         url('fonts/leaguespartan-bold.svg#league_spartanbold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Fanwood';
    src: url('fonts/fanwood_text-webfont.eot');
    src: url('fonts/fanwood_text-webfont.woff') format('woff'),
         url('fonts/fanwood_text-webfont.ttf') format('truetype'),
         url('fonts/fanwood_text-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Fanwood';
    src: url('fonts/fanwood_italic-webfont.eot');
    src: url('fonts/fanwood_italic-webfont.woff') format('woff'),
         url('fonts/fanwood_italic-webfont.ttf') format('truetype'),
         url('fonts/fanwood_italic-webfont.svg') format('svg');
    font-weight: normal;
    font-style: italic;

}

body {
    margin: 2em;
    margin-left: auto;
    margin-right: auto;
    /* border: 1em double gray; */
    padding: 1em;
    padding-left: 4em;
    padding-right: 4em;
    font-family: Fanwood;
    font-size: 1em;
    line-height: 1;
    /* background-color: CornSilk; */
    background-color: white;
    max-width: 750px;
}

.poem {
    text-align: center;
    font-size: 1.25em;
}

.poem-head {
    font-size: 1.5em;
}

.poem-body {
    font-style: italic;
}

.note {
    text-align: left;
    font-size: 1.25em;
    padding-left: .75em;
 }

.drop-cap {
    float: left;
    padding-right: .5em;
    padding-bottom: .5em;
    padding-left: .5em;
}

.ovrly-container {
    position: relative;
}
.ovrly-container:hover .ovrly-image {
    opacity: 1;
}

.ovrly-image {
    opacity: 0;
    transition: 1s ease;
    position: absolute;
    top: 20px;
    bottom: 0;
    left: 5px;
    right: 0;
}

.chapter-img, .ovrly-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 2.5em;
    text-align: center;
}

h2 {
    font-size: 1em;
}

a {
    text-decoration: none;
    color: black;

}

a:hover {
    background: #f5f5f5;
    border-radius: 8px;
}

#nav {
    width: 100%;
    overflow: auto;
    opacity: 0;
    transition: opacity 1s;

}
#nav:hover {
    opacity: 1;
}
#prev, #next {
    top: 1em;
    width: 33%;
}

#prev {
    left: 0em;
    float: left;

}

#next {
    right: 0em;
    float: right;
    text-align: right;
}

#top {
    margin: auto;
    width: 30%;
    text-align: center;

}

#nav-left {
    width: 110px;
    height: 100%;
    position: fixed;
    float: left;
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 1s;
    background-color: white;
    z-index: 1;
}

#nav-right {
    width: 110px;
    height: 100%;
    position: fixed;
    float: right;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 1s;
    background-color: white;
    z-index: 1;
}

#nav-left:hover, #nav-right:hover {
    opacity: .9;
}

#nav-left-text, #nav-right-text {
    position: absolute;
    top: 40%;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-right: 1em;
    padding-left: 1em;
}

ol {
  /* background: #ff9999; */
    padding: 1em;
    margin-left: 5%;
}

ol li {
    /* background: #ffe5e5; */
    padding: 0.5em;
}

ol.sub {
    padding: 0em;
}

li.sub {
    padding: .5em;

}

table {
 table-layout: auto;
 margin: auto;
 border: 1px solid black;
}

th, td {
    text-align: left;
    padding-right: 15px;
}
